.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: rgba(165, 165, 165, 0.2);
  box-shadow: 0 0 10px 5px rgb(153, 153, 153);
  p {
    text-align: center;
    color: #fff;
    animation: marquee 60s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
    span{
      margin-left: 40px;
    }
  }
}

@keyframes marquee {
  0%{transform: translate(0, 0);}
  100%{transform: translate(-500%, 0)}
}
