$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './components/control-unit/control-unit.scss';
@import './components//weather-today/weather-today.scss';
@import './components/weather-three-day/weather-three-day.scss';
@import './components/map/map.scss';
@import './components/ticker/ticker.scss';
    
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(231, 231, 231, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) center center / cover fixed;
    background-size: 100% 100%;
}
#root::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
  }
.wrapper{
    max-width:  1440px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    z-index: 2;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.loading{
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: -97px;
    left: -93px;
}
.loading_day_one{
    top: 0;
}
#floatingBarsG{
	position:relative;
	width:60px;
	height:52px;
	margin:auto;
}

.blockG{
	position:absolute;
	width:10px;
	height:3px;
	border-radius:8px 8px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:27px;
	animation-delay:0.45s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	animation-delay:0.6s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:25px;
	top:3px;
	animation-delay:0.75s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	animation-delay:0.9s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:27px;
	animation-delay:1.05s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	animation-delay:1.2s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:25px;
	animation-delay:1.35s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	animation-delay:1.5s;
	transform:rotate(-135deg);
}

@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}